@model notesmarketplace.SellerNote

@{
    ViewBag.Title = "Add Note";
    if (Session["email"] != null)
    {
        Layout = "~/Views/Shared/RegisterUser.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/NonRegisterUser.cshtml";
    }


}
<!-- Add Note Image -->
<section id="add-notes">

    <div class="image-and-content">

        <!-- Background Image -->
        <div id="add-notes-bg-img">
            <img src="~/Content/img/Add-notes/banner-with-overlay.jpg" alt="Add Notes">
        </div>

        <!-- Usser Contant -->
        <div id="add-notes-content" class="text-center">
            <h2>Add Notes</h2>
        </div>
    </div>
</section>
<!-- Add Notes Image Ends -->
<!-- Add notes Form -->
<section id="add-notes-form">
    @*<form method="post" enctype="multipart/form-data">*@
    @using(Html.BeginForm("SaveNote","pages"))
    {
        <div class="content-box-md">
            <div class="container">
                <!-- Basic Note Details Start -->
                <div id="basic-note-details">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <h2>Basic Note Details</h2>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="title-add-notes">Title *</label>
                            <input name="Title" type="text" class="form-control" id="title-add-notes" placeholder="Enter your notes title" required>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="catagory-add-notes">Category *</label>
                            <select id="catagory-add-notes" name="Category" class="form-control" required>
                                <option value="0">Select your category</option>
                                @{
                                    List<NoteCategory> mycategory = ViewBag.CategoryList;

                                    foreach (NoteCategory category in mycategory)
                                    {
                                        <option value="@category.ID">@category.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="img-upload-add-notes">Display Picture *</label>
                            <div class="upload-image">
                                <input type="file" name="Display_Picture">
                                <div id="img-upload-user" class="text-center">
                                    <img src="~/Content/img/User-Profile/upload.png" alt="Upload a picture">
                                    <p>Upload a picture</p>
                                </div>
                                <p>@ViewBag.display_picture</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="notes-upload">Upload Notes *</label>
                            <div class="upload-image">
                                <input type="file" name="Note_Attachment">
                                <div id="img-upload-file" class="text-center">

                                    <img src="~/Content/img/Add-notes/upload-notes.png" alt="Upload a picture">
                                    <p>Upload your notes</p>
                                </div>
                                <p>@ViewBag.note_attachment</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="note-type">Type</label>
                            <select id="note-type" name="NoteType" class="form-control">
                                <option value="0">Select your note type</option>
                                @{
                                    List<NoteType> mytype = ViewBag.TypeList;

                                    foreach (NoteType type in mytype)
                                    {
                                        <option value="@type.ID">@type.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="pages-add-notes">Number of Pages</label>
                            <input name="NumberOfPage" type="text" class="form-control" id="pages-add-notes" placeholder="Enter number of notes pages">
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label for="discription">Description *</label>
                            <textarea name="Description" id="discription" class="form-control" placeholder="Enter your description" required></textarea>
                        </div>
                    </div>
                </div>
                <!-- Basic Note Details Start Ends -->
                <!-- Popup for Confirmation-->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="model-data">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="model-head text-center">
                                            <i class="fa fa-question-circle fa-5x alert-warning"></i>
                                            <h2>You really want to publish this ?</h2>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="modal-footer">
                                            <button name="publishMail" type="submit" class="btn btn-general btn-purple">SUBMIT</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Popup for Confirmation-->
                <!-- Institution Information -->
                <div id="ins-info">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <h2>Institution Information</h2>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="country">Country</label>
                            <select id="country" name="Country" class="form-control">
                                <option value="0">Select your country</option>
                                @{
                                    List<Country> mycountry = ViewBag.CountryList;

                                    foreach (Country country in mycountry)
                                    {
                                        <option value="@country.ID">@country.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="ins-name">Institution Name</label>
                            <input name="InstitutionName" type="text" class="form-control" id="ins-name" placeholder="Enter your institution name">
                        </div>
                    </div>
                </div>
                <!-- Institution Information Ends -->
                <!-- Course Details -->
                <div id="course-details">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <h2>Course Details</h2>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="course-name">Course Name</label>
                            <input name="Course" type="text" class="form-control" id="course-name" placeholder="Enter your course name">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="course-code">Course Code</label>
                            <input name="CourseCode" type="text" class="form-control" id="course-code" placeholder="Enter your course-code">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="prof-name">Professor / Lecturer</label>
                            <input name="Professor" type="text" class="form-control" id="prof-name" placeholder="Enter your professor name">
                        </div>
                    </div>
                </div>
                <!-- Course Details Ends -->
                <!-- Selling Information -->
                <div id="sell-info">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <h2>Selling Information</h2>
                        </div>
                        <script type="text/javascript">
                            document.getElementById("sellprice").value = "0";
                            function Sell() {
                                document.getElementById("sellprice").removeAttribute("readonly", "readonly");
                            }
                            function Free() {
                                document.getElementById("sellprice").setAttribute("readonly", "readonly");
                                document.getElementById("sellprice").value = "0";
                            }</script>

                        <!-- Sell Info. Left Side -->
                        <div class="col-md-6 col-sm-6">
                            <div id="sell-info-left">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <p>Sell for *</p>
                                        <div class="col-md-1 col-sm-2 col-xs-3">
                                            <input type="radio" aria-label="Free" onclick="Free()" id="free-rbtn" name="IsPaid" checked>
                                        </div>
                                        <div class="col-md-1 col-sm-2 col-xs-3">
                                            <label for="free-rbtn">Free</label>
                                        </div>
                                        <div class="col-md-1 col-sm-2 col-xs-3">
                                            <input type="radio" aria-label="Free" onclick="Sell()" id="paid-rbtn" name="IsPaid">
                                        </div>
                                        <div class="col-md-1 col-sm-2 col-xs-3">
                                            <label for="paid-rbtn">Paid</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <p>Sell Price *</p>
                                        <input name="SellingPrice" type="text" class="form-control" id="sellprice" value="0" placeholder="Enter your price" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Sell Info. right Side -->
                        <div class="col-md-6 col-sm-6">
                            <p>Note Preview</p>
                            <div class="upload-image">
                                <input type="file" name="Note_Preview">
                                <div id="img-upload-notes-review" class="text-center">
                                    <img src="~/Content/img/User-Profile/upload.png" alt="Upload a picture">
                                    <p>Upload a file</p>
                                </div>
                                <p>@ViewBag.Note_Preview</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-3 col-xs-4">
                            <div id="save-btn">
                                <button class="btn btn-general btn-purple" href="#" type="submit" name="save" value="save">Save</button>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-4">
                            <div id="publish-btn">
                                <button class="btn btn-general btn-purple" href="#" type="button" data-toggle="modal" data-target="#exampleModal" name="publish" value="publish">Publish</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Selling Information Ends-->
            </div>
        </div>
    @*</form>*@
    }
</section>
<!-- Add Notes Ends -->