@model IEnumerable<notesmarketplace.SellerNote>
@{
    ViewBag.Title = "Search Notes";
    if (Session["email"] != null)
    {
        Layout = "~/Views/Shared/RegisterUser.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/NonRegisterUser.cshtml";
    }
}

    <!-- Search Notes Image -->
    <section id="search-notes">
        <div class="image-and-content">

            <!-- Background Image -->
            <div id="search-notes-bg-img">
                <img src="~/Content/img/Search/banner-with-overlay.jpg" alt="Search Notes Page">
            </div>

            <!-- Usser Contant -->
            <div id="search-content" class="text-center">
                <h2>Search Notes</h2>
            </div>
        </div>
    </section>
    <!-- Search Note Image Ends -->
    <!-- Search Note Form -->
    <section id="search-notes-form">
        <div id="basic-profile">
            <div class="content-box-md">
                <div class="container">
                    <h4>Search and Filter Notes</h4>
                    <div class="row" id="src-bg">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input type="text" class="form-control" id="search-place" placeholder="Search notes here...">
                            <span class="fa fa-fw fa-search search-icon toggle-password"></span>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <select id="" name="">
                                <option value="">Select type</option>
                                <option value=""></option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <select id="" name="">
                                <option value="">Select catagory</option>
                                <option value=""></option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <select id="" name="">
                                <option value="">Select university</option>
                                <option value=""></option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <select id="" name="">
                                <option value="">Select course</option>
                                <option value=""></option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <select id="" name="">
                                <option value="">Select country</option>
                                <option value=""></option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <select id="" name="">
                                <option value="">Select rating</option>
                                <option value=""></option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <!-- Searched Books -->
                    <div id="searched-books">
                        <h6>Total 18 notes</h6>
                        <div class="row">

                            @foreach (var item in Model)
                            {
                                <div class="col-md-4 col-sm-6 col-xs-6"  onclick="@("window.location.href='" + @Url.Action("NoteDetails", "pages", new { id = item.ID})+ "'");">
                                    <img src="~/Notes/DisplayPicture/@Html.DisplayFor(ModelItem => item.DisplayPicture)" alt="book">
                                    <h5>@Html.DisplayFor(ModelItem => item.Title)</h5>
                                    <p><i class="fa fa-university"></i>@Html.DisplayFor(ModelItem => item.UniversityName), @Html.DisplayFor(ModelItem => item.Country1.Name)</p>
                                    <p><i class="fa fa-book"></i>@Html.DisplayFor(ModelItem => item.NumberOfPage) pages</p>
                                    <p><i class="fa fa-calendar"></i>@Html.DisplayFor(ModelItem => item.CreatedDate)</p>
                                    <p><i class="fa fa-flag"></i><span id="inappropriate">5 users marked this note as inappropriate</span></p>
                                    <div class="rate">
                                        <input type="radio" id="star5" name="rate" value="5" />
                                        <label for="star5" title="text">5 stars</label>
                                        <input type="radio" id="star4" name="rate" value="4" />
                                        <label for="star4" title="text">4 stars</label>
                                        <input type="radio" id="star3" name="rate" value="3" />
                                        <label for="star3" title="text">3 stars</label>
                                        <input type="radio" id="star2" name="rate" value="2" />
                                        <label for="star2" title="text">2 stars</label>
                                        <input type="radio" id="star1" name="rate" value="1" />
                                        <label for="star1" title="text">1 star</label>
                                    </div>
                                    <p id="review-text">100 reviews</p>
                                </div>    
                            }

                                <div class="col-sm-6 col-xs-6"></div>
                                <nav>
                                    <div class="container text-center">
                                        <div class="row justify-content-center">
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fa fa-angle-left"></i></a>
                                                </li>
                                                <li class="page-item selected"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">2</a>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fa fa-angle-right"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Search Notes Ends -->