<!DOCTYPE html>
<html lang="en">

<head>

    <!-- important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 ,user-scalable=no">

    <!-- Title -->
    <title>Notes MarketPlace</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/img/favicon/favicon.ico">

    <!-- google fonts --->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="~/Content/css/font-awesome/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/css/style.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/css/responsive.css">

</head>

<body>

    <!-- Preloader -->
    <div id="preloader">
        <div id="status"></div>
    </div>

    <!-- Header -->
    <header id="hm-nav">
        <nav class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <div class="site-nav-wrapper">
                    <div class="navbar-header">

                        <!-- Mobile Menu Open Button -->
                        <span id="mobile-nav-open-btn">&#9776;</span>

                        <!-- logo -->
                        <a href="~/Views/Home/" class="navbar-brand">
                            <img src="~/Content/img/home/top-logo.png" alt="logo" id="logo-img">
                        </a>
                    </div>

                    <!-- Main Menu -->
                    <div class="container" id="main-menu">
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav pull-right">
                                <li>@Html.ActionLink("Search Notes", "SearchNotes", "pages", null, new { @class = "smooth-scroll" })</li>
                                <li>@Html.ActionLink("Sell Your Notes", "AddNotes", "pages", null, new { @class = "smooth-scroll" })</li>
                                <li>@Html.ActionLink("FAQ", "Faq", "pages", null, new { @class = "smooth-scroll" })</li>
                                <li>@Html.ActionLink("Contact Us", "ContactUs", "pages", null, new { @class = "smooth-scroll" })</li>
                                <li>@Html.ActionLink("LOGIN", "LogIn", "pages", null, new { @class = "smooth-scroll", @id= "navigation-login-btn" })</li>
                            </ul>
                        </div>
                    </div>

                    <!-- Mobile Menu -->
                    <div id="mobile-nav">
                        <span id="mobile-nav-close-btn">&times;</span>

                        <div id="mobile-nav-content">
                            <ul class="nav">
                                <li>@Html.ActionLink("Search Notes", "SearchNotes", "pages")</li>
                                <li>@Html.ActionLink("Sell Your Notes", "AddNotes", "pages")</li>
                                <li>@Html.ActionLink("FAQ", "Faq", "pages")</li>
                                <li>@Html.ActionLink("Contact Us", "ContactUs", "pages")</li>
                                <li>@Html.ActionLink("LOGIN", "LogIn", "pages")</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <!-- Header Ends -->
    <!-- Home -->
    <section id="home">

        <!-- Background Image -->
        <div id="home-bg-img">
            <img src="~/Content/img/home/banner-with-overlay.jpg" alt="Home Page">
        </div>

        <!-- Home Content -->
        <div id="home-content">
            <div id="home-content-inner" class="text-left">
                <div id="home-heading">
                    <h1 id="home-heading-1">Download Free/Paid Notes</h1><br>
                    <h1 id="home-heading-2">or Sale your Book</h1>
                </div>
                <div id="home-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque itaque <br> voluptate suscipit atque nesciunt dicta modi.</p>
                </div>
                <div id="home-btn">
                    <a class="btn btn-general btn-home" href="#" title="Learn More" role="button">Learn More</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Home Ends -->
    <!-- About -->
    <section id="about">
        <!-- About-01 -->
        <div id="about-01">
            <div class="content-box-md">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <!-- About Left Side -->
                            <div id="about-left">
                                <div class="horizontal-heading">
                                    <h5>About<br>NotesMarketPlace</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <!-- About right Side -->
                            <div id="about-right">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit autem, soluta voluptatem est omnis dolores aperiam eaque nesciunt, optio similique error perspiciatis quam aut, rerum officiis doloremque perferendis ullam aspernatur.</p>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium labore quibusdam obcaecati earum odio unde aperiam rem quam aut repudiandae deleniti.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About-01 Ends -->
        <!-- About-02 -->
        <div id="about-02">
            <div class="content-box-md">
                <div class="container">
                    <h2 class="horizontal-heading text-center">How It Works</h2>
                    <div class="row text-center">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="work-item text-center">
                                <div class="images-dwnld-sell">
                                    <img src="~/Content/img/home/download.png" alt="Download" class="work-img">
                                </div>
                                <h4>Download Free/Paid Notes</h4>
                                <p>Get Material for your<br>Cource Etc</p>
                                <div id="download-btn">
                                    <form action="../pages/SearchNotes">
                                        <button class="btn btn-general btn-purple" type="submit" href="MyDownload">Download</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="work-item text-center">
                                <div class="images-dwnld-sell">
                                    <img src="~/Content/img/home/seller.png" alt="seller" class="work-img">
                                </div>
                                <h4>Seller</h4>
                                <p>Upload and Download Cource<br>and Materials Etc</p>

                                <div id="seller-btn">
                                    <form action="../pages/Dashboard">
                                        <button class="btn btn-general btn-purple" type="submit">SELL BOOK</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About-02 Ends -->

    </section>
    <!-- About Ends -->
    <!-- Customer -->
    <section id="customer">
        <div class="content-box-md">
            <div class="container">
                <h2 class="horizontal-heading text-center">What our Customers are Saying</h2>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <!-- Customer 1 -->
                        <div class="customers">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <img src="~/Content/img/Customer/cust-1.jpg" alt="Customer 1" class="cust-img img-responsive">
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <div class="cust-name-des">
                                        <h4>Walter Meller</h4>
                                        <p>Founder & CEO, Matrix Group</p>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 cust-review">
                                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, quibusdam dolore provident? Voluptatibus accusantium impedit."</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="customers">
                            <!-- Customer 2 -->
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <img src="~/Content/img/Customer/cust-2.jpg" alt="Customer 1" class="cust-img img-responsive">
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <div class="cust-name-des">
                                        <h4>Jonnie Riley</h4>
                                        <p>Employee, Curious Snakcs</p>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 cust-review">
                                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, quibusdam dolore provident? Voluptatibus accusantium impedit."</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="customers">
                            <!-- Customer 3 -->
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <img src="~/Content/img/Customer/cust-3.jpg" alt="Customer 3" class="cust-img img-responsive">
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <div class="cust-name-des">
                                        <h4>Amilia Luna</h4>
                                        <p>Teacher, Sant joseph High School</p>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 cust-review col-xs-12">
                                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, quibusdam dolore provident? Voluptatibus accusantium impedit."</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="customers">
                            <!-- Customer 4 -->
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <img src="~/Content/img/Customer/cust-4.jpg" alt="Customer 4" class="cust-img img-responsive">
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <div class="cust-name-des">
                                        <h4>Daniel Cardos</h4>
                                        <p>Software Engineer, infinitum Compony</p>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 cust-review col-xs-12">
                                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, quibusdam dolore provident? Voluptatibus accusantium impedit."</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Customer Ends -->
    <!-- Footer -->
    <section>
        <footer class="text-left">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <p>copyright &copy; Tatvasoft All rights reserved.</p>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <ul class="social-list text-center">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </section>
    <!-- Footer Ends -->

    <!-- JQuery -->
    <script src="~/Scripts/js/jquery.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/js/script.js"></script>

</body>

</html>